nav {
  background-color: rgb(241, 234, 234);
  border-bottom: 1px solid var(--primary-navy);
}

nav ul > li > a {
  text-transform: uppercase;
  color: var(--primary-navy) !important;
}

.navbar-nav > .nav-item {
  margin-right: 20px;
  border-bottom: 3px solid transparent;
}

.navbar-nav .nav-item.active {
  border-bottom: 3px solid var(--primary-orange) !important;
}

.navbar-nav .nav-item:hover {
  border-bottom: 3px solid var(--primary-green) !important;
  transition: border 0.5s ease-in-out;
}

nav .nav-link {
  font-weight: bold;
}

form input[type="search"] {
  border: 1px solid black;
}

.logo {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 5px;
}
