* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

:root {
  --primary-white: #fff;
  --primary-all-white: #eef3f8;
  --primary-grey: #333;
  --primary-navbar: #bdf7f7;
  --primary-bg-search: #eef3f8;
  --primary-orange: #f9ab00;
  --primary-navy: #021e39;
  --primary-green: #21b42d;
  /* primary green */
  --primary-alt-green: #2fc64c;
  --primary-purple: #6649b8;
  --primary-custom-green: #85fac7;
  --primary-custom-pink: #e52e71;
  --primary-aqua: aqua;
  --primary-brick-red: #884513;
  --primary-peach: #fde1d2db;
  --primary-bright-green: #18d4a5;
  --primary-bright-orange: #dd501d;
  --primary-red: red;
  --primary-backdrop: #282c34;
  --primary-all-orange: #f1c17c;
}

body {
  font-family: "Roboto", sans-serif !important;
}
